// ##############################
// ##### Inspector Controls #####
// ##############################

// ===
// ~~~  EXPERIMENTAL ~~~
// ===

//Enable relative sizes with alignment
//Prevents box from collapsing
//#todo - belongs in theme?
.wp-block[data-align] {
	max-width: none;
}

// ===
// ~~~ Small fixes ~~~
// ===

// === Bug that prevents preview image height from expanding ===
.components-button.editor-post-featured-image__preview {
	height: auto;
}


// ===
// ~~~  Improve built-in inspector controls ~~~
// ===

// === Redefine existing styles ===
.edit-post-sidebar {
	.block-editor-url-input input[type="text"] {
		width: 100%;
	}

	.components-radio-control__input {
		width: 18px;
		height: 18px;
	}

	input[type="radio"]:checked::before {
		width: 10px;
		height: 10px;
	}
}

.components-base-control {
	margin-bottom: 15px;
}
.components-base-control__label {
	width: 100%;
}

// === Radiocontrols with help text ===
.components-radio-control__option {
	label {
		span:first-child {
			font-weight: bold;
		}
		span:last-child {
			display: block;
			margin-left: 26px;
		}
	}
}

.components-select-control__input[multiple] {
	height: auto !important;
}

// ===
// ~~  New inspector components ~~~
// ===

.block-id-control {
	.block-id-display {
		overflow-wrap: anywhere;
	}
}

dl.key-value-list {
	width: 100%;
	margin: 0;
	padding-bottom: 5px;
	display: flex;

	dt {
		flex: 1;
		font-weight: 500;
	}

	dd {
		flex: 2;
	}
}

// === Three-way Control ===
.three-way-control {
	width: 100px;

	.css-1l9uz6e-Rail {
		margin-top: 5px;
		height: 20px;
	}

	.components-range-control__track {
		margin-top: 6px;
		height: 18px;
	}

	.components-range-control__slider[value="1"] {
		.css-1l9uz6e-Rail {
			background-color: white;
		}
	}

	.components-range-control__mark-label {
		color: black;
	}
}

// === Two column table for editing values ===
.key-value-table {
	margin: 10px 0;

	dl {
		display: flex;
		flex-flow: row;
		flex-wrap: wrap;
		width: 100%;
		/* set the container width*/
		overflow: visible;
		border: 1px solid #eee;
		border-bottom: 0 none;
		margin: 0;
	}
	dl:last-child {
		border-bottom: 1px solid #eee;
	}

	dl:hover,
	dl:hover input {
		background: lightgoldenrodyellow;
	}

	dt {
		flex: 1 0 60%;
		text-overflow: ellipsis;
		overflow: hidden;
		padding: 5px;
		border-right: 1px solid #eee;
	}

	dd {
		margin-left: auto;
		text-align: left;
		text-overflow: ellipsis;
		overflow: hidden;
		flex: 1 0 40%;

		div {
			margin: 0 !important;
		}
	}

	input[type="text"] {
		border: 0 none !important;
		padding: 5px !important;
		margin: 0 !important;
		margin-right: 5px;
		box-shadow: none !important;
		outline: none !important;
		line-height: 1.4em;

		&:focus {
			background: #e9e9e9 !important;
			border-radius: 0 !important;
		}
	}

	.components-checkbox-control__input-container {
		margin-left: 10px;
		margin-top: 5px;
	}

	dt,
	dd {
		margin: 0;
	}
}
